stages:
  - stage: Deploy
    displayName: Deploy stage
    jobs:
    - job: Deploy
      displayName: Deploy
    - deployment: VMDeploy
      displayName: green
      pool:
        vmImage: 'Ubuntu-18.04'
      environment:
        name: demo
        resourceType: VirtualMachine
        tags: green
      strategy:
        runOnce:
          deploy:
            steps:
                - script: |
                            echo "Downloading the source code from Azure blob storage container to the Azure VM..."
                                        - task: AzureCLI@2
                                          inputs:
                                                  azureSubscription: 'DCS POC1 (300f9785-e2d2-4e50-916a-832c24a40995)'
                                                  scriptType: 'bash'
                                                  scriptLocation: 'inlineScript'
                                                  inlineScript: |

                                                                 sudo su
                                                                 sudo az storage blob download-batch -d $(System.DefaultWorkingDirectory) --pattern Blue-Green-Deployment.zip -s xyz --account-name mydemoaccount0012 --account-key 05JTTJzChEPvn8S3O108Vpzfd2K/HLXz/a2rT2ZEl0S291op04oGEam65XuYgVcYY0vluLI235EqB4EbPSo4Ig== 
                                                                 cd $(System.DefaultWorkingDirectory)
                                                                 sudo mkdir green789
                                                                 sudo unzip Blue-Green-Deployment.zip -d $(System.DefaultWorkingDirectory)/green789
                                                                 echo "Extracting the source code and setting up the application to the Azure VM..."
                                                                 
  - stage: Deploy_TM
    displayName: TM update weight stage
    jobs:
    - job: Deploy
      displayName: Deploy
    - deployment: VMDeploy
      displayName: green
      pool:
        vmImage: 'Ubuntu-18.04'
      environment:
        name: demo
        resourceType: VirtualMachine
        tags: green
      strategy:
        runOnce:
          deploy:
            steps:
            - script: |
                        
                        cd $(System.DefaultWorkingDirectory)/green789/Blue-Green-Deployment/scripts    
                        sudo chmod +x blue-green-weightage.sh 
                        sudo az login -u akhtar.shaikh@lntinfotech.com -p Newuser@123
                        sudo az account set --subscription 300f9785-e2d2-4e50-916a-832c24a40995
                        sudo sed -i 's/\r//' blue-green-weightage.sh                      
                        sudo  /bin/bash blue-green-weightage.sh
                               