stages:
  - stage: Deploy
    displayName: Deploy stage
    jobs:
    - job: Deploy
      displayName: Deploy
    - deployment: VMDeploy
      displayName: green
      pool:
        vmImage: 'Ubuntu-18.04'
      environment:
        name: poc
        resourceType: VirtualMachine
        tags: green
      strategy:
        runOnce:
          deploy:
            steps:
                - script: |
                            echo "Downloading the source code from Azure blob storage container to the Azure VM..."
                                        - task: AzureCLI@2
                                          inputs:
                                                  azureSubscription: 'Visual Studio Enterprise Subscription (246fe5c5-8e9a-444e-bcba-80d2ef05b06f)'
                                                  scriptType: 'bash'
                                                  scriptLocation: 'inlineScript'
                                                  inlineScript: |
                                                                 sudo az storage blob download --container-name "application-container" --account-name "mydemoaccount001" --file "~/Blue-Green-Deployment.zip" --name "Blue-Green-Deployment.zip" --connection-string "DefaultEndpointsProtocol=https;AccountName=mydemoaccount001;AccountKey=tyC2Xc9EJbpogOmSLzQMhwNI8hvAR8X55NoDs78o0dkdPdErdbmNOFMUr4YzLZIaZNbss5neohzjtayJC70Mqg==;EndpointSuffix=core.windows.net"
                                                                 sudo az storage file download --account-name mydemoaccount001 --account-key nt.zip rjJoLwBafb4AU5dvqAWr9GJbK60UKVq22LpXvoZ4Jc8k6hYjl0fQai4vFUWR3W0373mPqUyLWUwh5ZXpQq+nXw==  --share-name "bgdeployment" --path "Blue-Green-Deployment/scripts/blue-green-weightage.sh" --dest "~/Blue-Green-Deployment/scripts/blue-green-weightage.sh"
                                                                 echo "Extracting the source code and setting up the application to the Azure VM..."
                                                                 
  - stage: Deploy_TM
    displayName: TM update weight stage
    jobs:
    - job: Deploy
      displayName: Deploy
    - deployment: VMDeploy
      displayName: green
      pool:
        vmImage: 'Ubuntu-18.04'
      environment:
        name: poc
        resourceType: VirtualMachine
        tags: green
      strategy:
        runOnce:
          deploy:
            steps:
            - script: |
                         chmod +x /Blue-Green-Deployment/scripts/blue-green-weightage.sh
                         sudo  /bin/bash ~/Blue-Green-Deployment/scripts/blue-green-weightage.sh