stages:
- stage: Deploy
  displayName: Deploy stage
  jobs:
  - job: Deploy
    displayName: Deploy
  - deployment: VMDeploy
    displayName: green
    pool:
      vmImage: 'windows-2019'
    environment:
      name: dev
      resourceType: VirtualMachine
      tags: green
    strategy:
      runOnce:
        deploy:
          steps:
          - script: |
              echo "Downloading the source code from Azure blob storage container to the Azure VM..."
              - task: CmdLine@2
                inputs:
                    script: |
                              az login -u sreeja.naha@lntinfotech.com -p Newpwd_25
                              az account set --subscription 246fe5c5-8e9a-444e-bcba-80d2ef05b06f
                              az storage blob download --account-name bluegreendeployment --container-name bgdeployment --name Blue-Green-Deployment.zip --file C:\Users\LTIAdmin\Blue-Green Deployment.zip --account-key RAmSatPNqdqzXAKMlmtpheY5vOvYq9MpSyoZBM211k2Zhzp5k9XIft+JCXI029/OrY9Ji82D0M1prBnEUGTa/g== --connection-string BlobEndpoint=https://bluegreendeployment.blob.core.windows.net/;QueueEndpoint=https://bluegreendeployment.queue.core.windows.net/;FileEndpoint=https://bluegreendeployment.file.core.windows.net/;TableEndpoint=https://bluegreendeployment.table.core.windows.net/;SharedAccessSignature=sv=2019-12-12&ss=bfqt&srt=sco&sp=rwdlacupx&se=2021-01-21T11:15:48Z&st=2021-01-19T03:15:48Z&spr=https,http&sig=U%2Fv%2F%2BoB80QC93Y6UVAIhfVl12b%2Blc5x59HlrS39Q6Ic%3D
                              unzip Blue-Green-Deployment.zip -d C:\Users\LTIAdmin\Blue-Green Deployment
- stage: Deploy_TM
  displayName: TM update weight stage
  jobs:
  - job: Deploy
    displayName: Deploy
  - deployment: VMDeploy
    displayName: green
    pool:
      vmImage: 'windows-2019'
    environment:
      name: dev
      resourceType: VirtualMachine
      tags: green
    strategy:
      runOnce:
        deploy:
          steps:
          - script: |
              
                      - task: AzureCLI@2
                        inputs:
                              azureSubscription: 'Visual Studio Enterprise Subscription (246fe5c5-8e9a-444e-bcba-80d2ef05b06f)'
                              scriptType: 'CmdLine@2'
                              scriptLocation: 'inlineScript'
                              inlineScript: |
                                            chmod +x blue-green-weightage.sh
                                            C:\Windows\System32\bash.exe -c "./C:\Users\LTIAdmin\scripts\blue-green-weightage.sh"
                                            
                                        
              
