stages:
  - stage: Deploy
    displayName: Deploy stage
    jobs:
    - job: Deploy
      displayName: Deploy
    - deployment: VMDeploy
      displayName: green
      pool:
        vmImage: 'Ubuntu-18.04'
      environment:
        name: poc
        resourceType: VirtualMachine
        tags: green
      strategy:
        runOnce:
          deploy:
            steps:
            - script: |
                echo "Downloading the source code from Azure blob storage container to the Azure VM..."
                sudo su
                az login -u sreeja.naha@lntinfotech.com -p Newpwd_25
                az account set --subscription 246fe5c5-8e9a-444e-bcba-80d2ef05b06f
                az storage blob download --account-name mydemoaccount001 --container-name application-container --name Blue-Green Deployment.zip --file /home/ubuntu/Blue-Green Deployment --account-key rjJoLwBafb4AU5dvqAWr9GJbK60UKVq22LpXvoZ4Jc8k6hYjl0fQai4vFUWR3W0373mPqUyLWUwh5ZXpQq+nXw== --connection-string BlobEndpoint=https://mydemoaccount001.blob.core.windows.net/;QueueEndpoint=https://mydemoaccount001.queue.core.windows.net/;FileEndpoint=https://mydemoaccount001.file.core.windows.net/;TableEndpoint=https://mydemoaccount001.table.core.windows.net/;SharedAccessSignature=sv=2019-12-12&ss=bfqt&srt=sco&sp=rwdlacupx&se=2021-01-18T03:07:03Z&st=2021-01-14T19:07:03Z&spr=https&sig=HyjWeQYBSCwQ%2F0n%2BJIgHk0TQ1%2FnBwAXU%2FKWDSAPOe3A%3D
                echo "Extracting the source code and setting up the application to the Azure VM..."
  - stage: Deploy_TM
    displayName: TM update weight stage
    jobs:
    - job: Deploy
      displayName: Deploy
    - deployment: VMDeploy
      displayName: green
      pool:
        vmImage: 'Ubuntu-18.04'
      environment:
        name: Development
        resourceType: VirtualMachine
        tags: green
      strategy:
        runOnce:
          deploy:
            steps:
            - script: |
                /bin/bash /home/ubuntu/Blue-Green Deployment/scripts/blue-green-weightage.sh
                
                
  